{% extends 'base.html'%}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>protein map</h3>
</div>

{% endblock header %}



{% block content %}
<div class="container">
    {% for item in object_list %}
    <div class="alert alert-success" role="alert">
        <p>P:{{ item.protein}}</p>
        <p>F:{{ item.fat}}</p>
        <p>C:{{ item.caarbohydrate}}</p>
        <p>メニュー:{{ item.menu}}</p>
        <p>住所:{{ item.addres}}</p>
        <p>店名:{{ item.storename}}</p>
        <p>写真:</p>
        <img src='{{ item.snsimage.url}}'/>
        <p>値段:{{ item.price}}</p>
        <p>営業時間:{{ item.openingtime}}</p>
        <p>駐車場:{{ item.parking}}</p>

        
    </div>
    {% endfor %}
</div>
{% endblock content %}