{% extends 'base.html'%}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>detail page</h3>
</div>

{% endblock header %}



{% block content %}
<div class="container">
    
    <div class="alert alert-success" role="alert">
        <p>名前:{{ object.name}}</p>
        <p>住所:{{ object.address}}</p>
        <p>緯度:{{ object.lat}}</p>
        <p>経度:{{ object.lng}}</p>
        <p>緯度:{{ object.lat}}</p>
        <p>緯度:{{ object.lat}}</p>
        <p>緯度:{{ object.lat}}</p>
        <p>緯度:{{ object.lat}}</p>
        <p>緯度:{{ object.lat}}</p>
        <p>緯度:{{ object.lat}}</p>
        <p>緯度:{{ object.lat}}</p>
        

        

        
    </div>
</div>
{% endblock content %}

