<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .head-title {width:100%;background:#87ceeb;color:#fff;text-indent:8px;font-weight:700;line-height:180%}
    </style>
  </head>
  <body>
  <body onload="initialize()">
<div class="head-title">Google Maps APIを使ったサンプル。</div>
<p>ジオコーディング 住所から座標を取得[Geocode]住所 or ランドマーク</p>
<table style="width:100%;border:0">
<tr style="background-color:#dddddd">

    <div id="map"></div>
    <script>
      var map;

      /**
       * The CenterControl adds a control to the map that recenters the map on
       * Chicago.
       * This constructor takes the control DIV as an argument.
       * @constructor
       */
      function CenterControl(controlDiv, map) {

        // Set CSS for the control border.
        var controlUI = document.createElement('div');
        controlUI.style.backgroundColor = '#fff';
        controlUI.style.border = '2px solid #fff';
        controlUI.style.borderRadius = '3px';
        controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
        controlUI.style.cursor = 'pointer';
        controlUI.style.marginBottom = '22px';
        controlUI.style.textAlign = 'center';
        controlUI.title = 'Click to recenter the map';
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        var controlText = document.createElement('div');
        controlText.style.color = 'rgb(25,25,25)';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = '16px';
        controlText.style.lineHeight = '38px';
        controlText.style.paddingLeft = '5px';
        controlText.style.paddingRight = '5px';
        
        controlUI.appendChild(controlText);

        controlUI.addEventListener('click', function() {

          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                 setMarker(JSON.parse(this.responseText));
               }
          };
          xhttp.open("GET", "api/customer/?format=json", true);
          xhttp.setRequestHeader("Content-type", "application/json");
          xhttp.send();

        });
        


      }
      window.onload=function() {

          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                 setMarker(JSON.parse(this.responseText));
               }
          };
          xhttp.open("GET", "api/customer/?format=json", true);
          xhttp.setRequestHeader("Content-type", "application/json");
          xhttp.send();

      }

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.681236, lng: 139.767125},
          zoom: 8
        });

       
       
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);
        var markerOptions = {
    map: map,
    position: {lat: 35.681236, lng: 139.767125},
    icon:'gmap/templates/gmap/マッチョのフリーアイコン3.png'

  };

  //解説1：マーカーを生成するMarkerクラス
  var marker = new google.maps.Marker(markerOptions);
}

      

      function setMarker(customerJson) {

        for(var i = 0; i < customerJson.length; i++){

          var infowindow = new google.maps.InfoWindow({
            content: customerJson[i].name + '<br> ' + customerJson[i].address + '<br> ' +customerJson[i].protein+'g <br>'+'<p><a href="#">詳細</a></p>'
          });

          var marker = new google.maps.Marker({
            position: {lat: Number(customerJson[i].lat), lng: Number(customerJson[i].lng)},
            map: map
          });

          bindInfoWindow(marker, map, infowindow);
        }
      }


      

      function bindInfoWindow(marker, map, infowindow) {
        marker.addListener('click', function() {
          infowindow.open(map, this);
          document.getElementById('id_ido').innerHTML = customer.name;
      document.getElementById('id_keido').innerHTML = customer.address;

        });
      }

   
      




  



    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2yDwkogt-9vmgzCLlFR2GDTltOckARJI&callback=initMap"
    async defer></script>
  </body>
</html>
