<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Promap</title>
  </head>
<body>
<div class="alert alert-primary" role="alert">
    <h3>map</h3>
</div>



{% if user.is_authenticated %}


<div class="container">
    {% for item in object_list %}
    <div class="alert alert-success" role="alert">
        <p>店名:<a href="{% url 'gmap:detail' item.pk %}">{{ item.name}}</a></p>
        <p>住所:{{ item.address}}</p>
        <p>緯度:{{ item.lat}}</p>
        <p>経度:{{ item.lng}}</p>
        <p>タンパク質:{{ item.protein}}</p>
        <p>脂質:{{ item.fat}}</p>
        <p>炭水化物:{{ item.carbohydrate}}</p>
        <p>値段:{{ item.price}}</p>
        <p>写真:{{ item.snsimage}}</p>
        <p>営業時間:{{ item.openingtime}}</p>
        <p>駐車場:{{ item.parking}}</p>


        

        
    </div>
    {% endfor %}
</div>

{%else%}
<a href="{%url "gmap:login" %}">please log in</a>
{%endif%}

<body/>

</html>