{% extends 'base.html'%}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>map</h3>
</div>

{% endblock header %}



{% block content %}
<div class="container">
    {% for item in menus %}
    <div class="alert alert-success" role="alert">
        <p>店名:{{ item.restauranat}}</p>
        <p>タンパク質:{{ item.protein}}</p>
        <p>脂質:{{ item.protein}}</p>
        <p>炭水化物:{{ item.carbohydrate}}</p>
        <p>メニュー:{{ item.menu}}</p>
        <p>写真:{{ item.snsimage}}</p>
        <p>値段:{{ item.price}}</p>
        


        
        

        
    </div>
    {% endfor %}
</div>
{% endblock content %}